# dependencies
node_modules/

# build output
dist/
build/
.next/
out/

# turborepo
.turbo/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
coverage/
